  .FuniroContainer {
    /* max-width:85%; */
    /* margin: 0 auto; */
  }

  /* .ImageContainer-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    flex-wrap: wrap;
    margin-top:10%;
  }
  
  .ImageContainer-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
  } */