* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Merriweather";
  }
  
  .FuniroContainer {
    position: relative;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    margin: 0 auto;
  }
  
  .FuniroContent {
    position: absolute;
    left: 40%;
    top: 3%;
  }
  
  .ImgContainer {
    position: absolute;
    top: 5%;
  }
  
  .ImageContainer-1 {
    display: grid;
    grid-template-columns: repeat(7 / 1fr);
    grid-auto-flow: column;
    grid-gap: 1em;
  }
  
  .ImageContainer-2 {
    display: grid;
    grid-template-columns: repeat(7 / 1fr);
    grid-auto-flow: column;
    grid-gap: 1em;
  }
  #Share1 {
    grid-column: 1 / 2;
    margin-top: 40%;
  }
  #Share2 {
    margin-top: 20%;
    grid-column: 2 / 4;
  }
  #Share3 {
    grid-column: 4 / 7;
    margin-top: 13%;
  }
  #Share4 {
    grid-column: 1 / 3;
  }
  #Share5 {
    grid-column: 3 /4;
  }
  
  #Share6 {
    grid-column: 4 / 5;
    margin-top: 10%;
  }
  
  #Share7 {
    grid-column: 5 / 7;
    margin-top: 5%;
  }
  