@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:before, *:after {
  box-sizing: border-box;
}

body{
  font-family: 'Merriweather', serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  object-fit: cover;
}